@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
  body{
    font-family: "yg-jalnan";
  }
  .logo{
    position: absolute;
    left: 20%;
    top: 30%;
    font-size: 70px;
    color: #5f9c25;      
  }
  .comment{
    position: absolute;
    left: 20%;
    top: 40%;
    font-size: 30px;      
  }
  .loginForm{
    position: absolute;
    left: 50%;
    top: 20%;
    border: 3px solid gray;
    border-radius: 10px;
    padding: 10px;
    font-family: "yg-jalnan";  
  }
  .idInput{
    width: 400px;
    height: 60px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-family: "yg-jalnan";  
  }
  .emailInput{
    width: 400px;
    height: 60px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-family: "yg-jalnan";  
  }
  .pwdInput{
    width: 400px;
    height: 60px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-family: "yg-jalnan";  
  }
  .pwdCheck{
    width: 400px;
    height: 60px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-family: "yg-jalnan";  
  }
  .join{
    width: 410px;
    height: 60px;
    border-radius: 8px;
    background-color: #82c147d0;
    opacity: 0.8;
    font-family: "yg-jalnan";
    margin-top: 10px;      
    margin-bottom: 10px;
    text-align: center;
  }