@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');


body {
	background-color: #F4F3F3;
}

.navBar{
  font-size: 1.5vw;
  font-family: "yg-jalnan";
}

ul{
  list-style-type: none;
  margin: 15px;
  padding: 0;
  overflow: hidden;
}

li{
  float: left;
}
.navBar ul li a{
  display: block;
  color: #000;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.navBar ul li a:hover{
  color: #6C8910;
  /* background-color: #5f9c25; */ 
}

.navLogo{
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  text-align: left;
  position: absolute;
  left: 10%;
  color: #6C8910;
}

.noticePage{
  position: absolute;
  left: 40%;
}
.mentoRecruitment{
  position: absolute;
  left: 52.5%;
}
.menteeRecruitment{
  position: absolute;
  left: 65%;
}
.myPage{
  position: absolute;
  left: 80%;
}
.logout{
  position: absolute;
  left: 90%; 
}