body{   
  @font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;   
  font-family: "yg-jalnan";
  } 
} 
.menteeArea{
  width: 70%;
  margin: 0 auto;
}
.menteeArea .searchBox{
  width: 20vw;
  height: 3.5vw;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.274);
  opacity: 0.8;
  position: absolute;
  top: 23%;
  left: 60%;
  font-family: 'yg-jalnan';
}
.menteeArea .writeList{
    width: 8vw;
    height: 3vw;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.274);
    opacity: 0.8;
    position: absolute;
    left: 75%;
    font-family: 'yg-jalnan';
    top: 85%;
}
.menteeArea .searchButton{
  border-radius: 8px;
  position: absolute;
  width: 5vw;
  height: 3.5vw;
  top: 23%;
  left: 80%;
}
.line{
position: absolute;
top: 30%;
}

.menteeArea ol li{
  font-size: 30px;
  position: absolute;
  top: 35%;
  
}
.menteeArea .menteeLists{
  width: 70%;
  font-size: 1.5vw;
  position: absolute;
  top: 32.5%;
}
a {
	text-decoration: none;
	color: black;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}

td {
  padding: 6px 15px;
  border-bottom: 1px solid black;
}
ul {
	width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.ft {
	position : absolute;
  	top: 110%;
    width: 100%;
}
.paging {
	padding: 0 15px 0 15px;
}
.page {
	margin-top: 50px;
}
.nameHover a:hover{
	color: #6C8910;
}
.line_limit {
      width:350px;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      display:inline-block;
}