@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "yg-jalnan";
}
.pageTitle {
  position: absolute;
  margin: 0 auto;
  top: 17%;
  left: 45%;
}
.line {
  position: absolute;
  left: 15%;
  top: 28%;
}
.writer {
  position: absolute;
  top: 30%;
  left: 15%;
}
.mentoTitle {
  position: absolute;
  top: 35%;
  left: 15%;
}
.content {
  position: absolute;
  top: 40%;
  left: 15%;
}
.contentInfo {
  position: absolute;
  top: 50%;
  left: 15%;
  border: 2px solid black;
  border-radius: 4px;
}
.delete {
  position: absolute;
  top: 85%;
  right: 27%;
  width: 120px;
  height: 30px;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.432);
  opacity: 0.8;
  font-family: "yg-jalnan";
  margin-bottom: 10px;
}
.modify {
  position: absolute;
  top: 85%;
  right: 15%;
  width: 120px;
  height: 30px;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.432);
  opacity: 0.8;
  font-family: "yg-jalnan";
  margin-bottom: 10px;
}