.userImage{
  position: absolute;
  top: 20%;
  left: 20%;
  border-radius: 50%;
}
.userInfo {
  position: absolute;
  top: 65%;
  left: 22%;
}
.imageInfo {
  position: absolute;
  top: 60%;
  left: 22%;
}
.moreInfo{
  position: absolute;
  top: 20%;
  left: 50%;
  width: 30vw;
  height: 35vw;
  border: 3px solid black;
  border-radius: 20px 20px;
}
.intro {
	margin: 20px;
}
.changeProfile{
   position:absolute;
   top: 75%;
   left: 22%;
}
.modifyButton{
   position:absolute;
   top:90%;
   right:20%;
}

area {
  width: 30vw;
  height: 35vw;
}