@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: "yg-jalnan";
}

.navBar{
  font-size: 30px;
}

ul{
  list-style-type: none;
  margin: 15px;
  padding: 0;
  overflow: hidden;
}

li{
  float: left;
}
.navBar ul li a{
  display: block;
  color: #000;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.navBar ul li a:hover{
  font-size: 35px;
}

.navLogo{
  text-align: left;
  position: absolute;
  left: 20%;
  color: #5f9c25; 
}

.noticePage{
  position: absolute;
  left: 40%;
}
.mentoRecruitment{
  position: absolute;
  left: 50%;
}
.menteeRecruitment{
  position: absolute;
  left: 60%;
}
.myPage{
  position: absolute;
  left: 70%;
}