body {
  @font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-family: "yg-jalnan";
  }
}
.noticeNum{
position: absolute;
top: 35%;
left: 11%;
}
.noticeTitle{
position: absolute;
  top: 35%;
  left: 27%;
}
.noticeWriter{
position: absolute;
  top: 35%;
  left: 53%;
}
.noticeArea {
  width: 80%;
  margin: 0 auto;
}
.searchBox {
  width: 20vw;
  height: 3.5vw;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.274);
  opacity: 0.8;
  position: absolute;
  top: 23%;
  left: 60%;
  font-family: 'yg-jalnan';
}

.writeList {
  width: 10vw;
  height: 3.5vw;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.274);
  opacity: 0.8;
  position: absolute;
  top: 15%;
  left: 65%;
  font-family: 'yg-jalnan';
}

.searchButton {
  border-radius: 8px;
  position: absolute;
  width: 5vw;
  height: 3.5vw;
  top: 23%;
  left: 77%;
}

.line {
  position: absolute;
  top: 30%;
}

.noticeArea .noticeLists {
  font-size: 1.5vw;
  position: absolute;
  top: 32.5%;
}

a {
	text-decoration: none;
	color: black;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

td {
  padding: 6px 15px;
  border-bottom: 1px solid black;
}
